<div>

	<div class="h1 text-center">About Me</div>
			<br>

	<div class="features text-center">
			<%= image_tag "http://www.brainyquote.com/st/img/1833865/splash/27.jpg", width:1000%>
	</div>

			<br>
			<br>	
			<br>
            <div class="text-center"><%= link_to fa_icon "globe 2x" %>
            </div>
            <br>
            <br>

		<div>

		<blockquote>“It is sometimes said that scientists are unromantic, that their passion to figure out robs the world of beauty and mystery. But is it not stirring to understand how the world actually works — that white light is made of colors, that color is the way we perceive the wavelengths of light, that transparent air reflects light, that in so doing it discriminates among the waves, and that the sky is blue for the same reason that the sunset is red? It does no harm to the romance of the sunset to know a little bit about it.”
		<br><br>

		“Consider again that dot [Earth]. That's here. That's home. That's us. On it everyone you love, everyone you know, everyone you ever heard of, every human being who ever was, lived out their lives. The aggregate of our joy and suffering, thousands of confident religions, ideologies, and economic doctrines, every hunter and forager, every hero and coward, every creator and destroyer of civilization, every king and peasant, every young couple in love, every mother and father, hopeful child, inventor and explorer, every teacher of morals, every corrupt politician, every "superstar," every "supreme leader," every saint and sinner in the history of our species lived there - on a mote of dust suspended in a sunbeam.” <cite> 
		<br>
		<br>
		<i>- Pale Blue Dot: A Vision of the Human Future in Space</i></cite></blockquote>
		</div>

		<div class="features text-center">
				<b>Join Us.</b>
				<br>
				<small>More deets down below. Go on, click.</small>
				<br>
				<br>
			<%= link_to "https://www.facebook.com/makingheadsortails", :target => "_blank" do %>
				<%= fa_icon "facebook 3x" %>
			<% end %>
				<br>
				<br>
		</div>
</div>
