<div class="bg2 text-center">
	<div class="content">
		<h1>Comments.</h1>
	</div>
</div>

<div class="featuretopic">
	<div id="comments-form-container">
		<%= render partial: "create_comment_form", locals: { comment: @comment, post: @post } %>
	</div>

	<div id="comments">
		<% @comments.each do |comment| %>
		  <%= render partial: "comment", locals: { comment: comment, post: @post } %>
		<% end %>
	</div>
</div>
