<div class="topics"
  <h1 class="text-center">
  </h1>

  <div class="featurestopics text-center">
    <div class="featuretopics">
      <div class="form-group edit">
        <%= form_for(@comment, url: post_comments_path, html: { id: "comment-create-form" }) do |f| %>
            <%= f.label :text_field, "Comment description." %>  
            <%= f.text_field :body, id: "comment_body_field", class: 'form-control' %>
      </div>  

      <div class="form-group text-center">
        <%= f.submit "Create Comment", class: "btn btn-success btn-lg" %>
      </div>
   </div> 
<% end %>
</div>
