<div class="topics">

	<div class="topics text-center">
		<div class="content">
			<h1> Welcome.</h1>
		</div>
	</div>
</div>	
<br>
<br>

<div class="wrapper">
	<%= link_to new_topic_path, :target => "" do %>
	<button type="button">Make a new topic.</button>
	<br>
	<% end %>
</div>

<div class="featurestopics text-center img-settings">
	<% @topics.each do |topic| %>
	    <div class="featuretopics">
	    <br>
	    	<%= link_to edit_topic_path(topic) do %>	
	  	  	<button type="button">Edit Topic</button>
	  	  	<% end %>
	  	  	<h2><%= link_to topic.title, topic_path(topic) %></h2>
	  	  	<h3><% topic.title %></h3>
	    	<h4><%=topic.description %></h4>
	    <br>
	    <br>
	    <br>
	  </div>
	<% end %>
</div>	
