<div class="topics text-center">
	<div class="featurestopics">
		<div class="featuretopics">
			<%= @topic.title %>
			<%= @topic.description %>
			<%= link_to "Delete", topic_path(@topic), method: :delete, data: { confirm: "Are you sure?" } %>
		</div>
	</div>	
</div>