<div class="topics text-center">
	<div class="featurestopics">
		<div class="featuretopics">
			<h1><%= @topic.title %></h1>
			<h4><%= @topic.description %></h4>
			<%= link_to "Delete", topic_path(@topic), method: :delete, data: { confirm: "Are you sure?" } %>
		</div>
	</div>	
</div>