<div class="topics text-center">
	<div class="featurestopics">
		<div class="featuretopics">
			<%= @post.title %>
			<%= @post.body %>
			<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
		</div>
	</div>	
</div>